extends layout

block content
  .content
    .lead
      h1 kiernan
      h4 founder of 537.io
      p kiernan@537.io / hi@kiernan.io
      a(href="/auth/google", class="btn btn-danger")
        span.fa.fa-google-plus Google

